---
import { Linkedin, Twitter, Github } from "lucide-astro";
---

<section class="text-white mt-14">
  <h2 class="uppercase font-bold mb-3">contact</h2>
  <hr class="mb-4 border-dashed" />
  <p>
    Please feel free to reach out about anything, I'm happy to chat anything
    tech related! Use the links below to find me:
  </p>
  <ul class="flex gap-x-5 py-7">
    <li>
      <a
        href="https://www.linkedin.com/in/tom-shaw99/"
        aria-label="linkedin link"
      >
        <Linkedin size={32} className="hover:text-[#FDD641]" />
      </a>
    </li>
    <li>
      <a href="https://www.x.com/tomshawdev" aria-label="twitter link">
        <Twitter size={32} className="hover:text-[#FDD641]" />
      </a>
    </li>
    <li>
      <a href="https://www.github.com/tomshaw650" aria-label="github link">
        <Github size={32} className="hover:text-[#FDD641]" />
      </a>
    </li>
  </ul>
</section>
