<section id="intro" class="text-white mt-14">
  <h2 class="uppercase font-bold mb-2">introduction</h2>
  <hr class="mb-4 border-dashed" />
  <p>I'm a 25 y/o programmer from North East England. I graduated with a First Class Honours in Computer Science from Northumbria University. I'm a Front End Developer at DWP, where I work in Retirement, building and maintaining 7 services for both the public and internal agents.</p>
  <br>
  <p>I love jumping into new languages, technologies and concepts surrounding web development. My current interests are <a href="https://nextjs.org/" class="p-1 bg-white text-black" target="_blank">Next.js</a> and exploring alternative web frameworks like <a href="https://hono.dev/" class="p-1 bg-white text-black" target="_blank">Hono</a> or <a href="https://fastify.dev/" class="p-1 bg-white text-black" target="_blank">Fastify</a>. My plans for 2025 are to jump into <a href="https://go.dev/" class="p-1 bg-white text-black" target="_blank">Golang</a> in hopes of finding a great new tool for performant web dev.</p>
  <br>
  <p>Below you'll find links to projects I work on in my spare time, some thoughts I have (mostly about tech) and some different ways to contact me. Thanks for visiting!</p>
</section>